.blue-background {
  background-color: blue;
}


.background-image {
  background-image: url('https://i.imgur.com/OcFygJu.jpg');
  background-size: cover;
  background-position: center;
}

.font-white {
 color: white;
}