.background-image {
  background-image: url('https://i.imgur.com/OcFygJu.jpg');
  background-size: cover;
  background-position: center;
}

.font-white {
 color: white;
}

.margin-padding {
  margin: 0px;
  padding: 1px;
}

Header,
Footer,
Content {
  overflow: auto;
}


.text-align-center {
  text-align: center;
}

a:link,
a:visited {
  color: white
}